.home-newsletter {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;

  h3 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  #newsletterGroup {
      width: 100%;
      display: flex;
  }

  #newsletterEmail {
      margin-left: 20%;
      width: 40%;
  }

  #newsletterBtn {
      width: 20%;

      button {
          text-align: center;
          width: 100%;
      }
  }

  @media only screen and (max-width: 600px) {
      #newsletterEmail {
          margin-left: 0;
          width: 60%;
      }

      #newsletterBtn {
          width: 40%;

          button {
              text-align: center;
              width: 100%;
          }
      }
  }

}
