footer {
  width: 100%;
  height: 50px;

  .social-links {
    text-align: center;
    font-size: 2rem;
    background: $blue;

    a {
      color: white;
      margin: 0 0.5rem;

      &:hover {
        color: $light-gray;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .footerBar {
      height: 10px;
      background: $blue;
  }
}
