#navBar {
    background-color: white;

    .nav-wrapper {
        padding: 1.5rem 0;
        width: $container-width;
        max-width: $container-max-width;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .brand {
        width: 30%;
        display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         align-items: center;
        img {
            max-height: 45px;
        }

        h1 {
            font-size: 1.5rem;
            padding-left: 0.75rem;
            display: initial;
            margin: 0;
            color: $primary-blue;
        }
    }

    .links {
        width: 70%;
        text-align: right;

        font-size: 1.1rem;

        a {
            text-decoration: none;
            margin-left: 0.75rem;
            color: $primary-purple;


            &:hover {
                text-decoration: underline;
            }
        }
    }

    #toggleNav {
        display: none;
    }
}
