/* Add a black background color to the top navigation */
#navBar {
    background-color: $blue;
    overflow: hidden;

    a {
        float: left;
        display: block;
        color: #fff;
        text-align: center;
        padding: 8px 16px;
        text-decoration: none;
    }

    a:hover {
        background-color: shade($blue, 20%);
        color: #fff;
    }

    .icon {
        cursor: pointer;
        display: none;
    }

    @media screen and (max-width: 600px) {
      a:not(:first-child) {display: none;}
      a.icon {
        float: right;
        display: block;
      }
    }
}

@media screen and (max-width: 600px) {
    #navBar.responsive {
        position: relative;

        a.icon {
          position: absolute;
          right: 0;
          top: 0;
        }
        a {
          float: none;
          display: block;
          text-align: left;
        }
    }
}
